body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar-footer {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 700px;
}

.content {
    margin-left: 200px;

}

.content h1 {
    font-size: 24px;
    color: white;
    padding: 10px;
    background-color: #000;
    padding-top: 40px;
    margin-top: 0;
    padding-left: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.content h3 {
    margin-left: 40px;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 40px;
}

.content ul, li{
    margin-left: 40px;
    font-size: 16px;
}

.fondo{
    margin-left: 40%; 
    width: 300px;  
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    width: 450px;
}
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    width: 440px;
    margin-left: 6%;
}